* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}

a {
  color: #00b7ff;
}

main {
  padding: 5rem 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.title h2 {
  font-weight: 400;
  font-size: 1.4rem;
  color: hsl(234, 12%, 34%);
  margin: 0.5rem 0;
}
.title h1,
.card-title {
  font-weight: 600;
  font-size: 1.45rem;
  margin: 0.5rem 0;
}

.title p,
.card-text {
  font-weight: 200;
  line-height: 1.6;
  color: hsla(234, 12%, 34%, 0.8);
}

.title p {
  max-width: 30rem;
  margin: auto;
}

.card-container,
.column-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 5rem;
}

.column-cards {
  margin-top: 0;
}
.card {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 5px 5px hsla(229, 25%, 49%, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  min-height: 12rem;
  max-width: 18rem;
}

#red {
  border-top: hsl(0, 78%, 62%) solid 4px;
}
#cyan {
  border-top: hsl(180, 62%, 55%) solid 4px;
}
#orange {
  border-top: hsl(34, 97%, 64%) solid 4px;
}
#blue {
  border-top: hsl(212, 86%, 64%) solid 4px;
}

.card-title {
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
}
.card-text {
  text-align: left;
  margin: 0;
  margin-top: 10px;
  font-size: 0.8rem;
}

.card-image {
  width: 15%;
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
}

.card-image img {
  width: 100%;
}

@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
    justify-content: center;
  }
  .column-cards {
    width: 33.33%;
  }
  #blue,
  #cyan {
    width: 33.33%;
  }
}
